<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<th:block th:fragment="config">
	<head>
		<script src="/assets/js/color-modes.js"></script>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	
		<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
		
		<link type="text/css" rel="stylesheet" href="/css/common.css"/>
		
		<link href="/css/sticky-footer-navbar.css" rel="stylesheet">
		
	</head>
	</th:block>
	
	<th:block th:fragment="header">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">USA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/board/boardList">게시판</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
    </th:block>
    	
    <th:block th:fragment="footer">
    	<div class="container">
   		 	<p class="text-body-secondary">
   		 		사업자 등록번호 : 128-23-45267 | 대표: 홍길동 | 개인정보보초책임자 : 김철수 |
   		 		이메일 : javauser1234@naver.com | 서울특별시 강남구 테헤란로 14길 6
   		 	</p>
  		</div>
    </th:block>
	<body>
		
	</body>
</html>