@charset "UTF-8";

.board-table-tr-height{height:300px;}
.board-table-height{height:520px;}
.board-textarea{resize:none;}
.board-msg-default-color{color:#000099;}
.board-msg-error-color{color:red;}
.board-required{color:red;}