<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="htp://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/client/layout/layout}">
	
	<th:block layout:fragment="content">
		<div class="text-center"><h3>게시판 상세</h3></div>
		
		<div class="container" th:object="${detail}">
			<div>
				<!-- 여기 name 을 no로 바꿈  -->
				<form name="dataForm" id="dataForm" method="post">
					<input type="hidden" name="no" th:value="*{no}"/>
				</form>
				
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td class="col-md-3">작성자</td>
							<td class="col-md-3 text-start"
							th:text="*{name}+' (조회수: '+*{hit} + ')'"></td>
							<td class="col-md-3">작성일</td>
							<td class="col-md-3 text-start" th:text="*{#temporals.format(regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
						</tr>
						<tr>
							<td class="col-md-3">글제목</td>
							<td colspan="3" class="col-md-9 text-start" th:text="*{title}"></td>
						</tr>
						<tr class="board-table-tr-height">
							<td class="col-md-3">글내용</td>
							<td colspan="3" class="col-md-9 text-start" th:utext="${#strings.replace(detail.content, newLine, '&lt;br / &gt;')}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row text-center mb-2">
				<div class="col-md-9 text-start" id="pwdFormArea">
				
				</div>
				<div class="col-md-10 text-end">
					<input type="button" value="글수정" id="updateFormBtn" class="btn btn-primary btn-sm"/>
					<input type="button" value="글삭제" id="boardDeleteBtn" class="btn btn-primary btn-sm"/>
					<input type="button" value="글쓰기" id="insertFormBtn" class="btn btn-primary btn-sm"/>
					<input type="button" value="글목록" id="boardListBtn" class="btn btn-primary btn-sm"/>
				</div>
				</div>
			</div>
		
	</th:block>
	<th:block layout:fragment="script">
	<script src="/js/board/boardDetail.js"></script>
	</th:block>
</html>